name: Pull Request
on:
  pull_request:
    branches:
      - main
    paths:
      - 'main.go'
      - 'cmd/**'
      - 'internal/**'
      - Dockerfile
      - 'go.mod'
      - 'go.sum'

permissions:
  contents: read
  pull-requests: read

jobs:
  conventional-commits-pr:
    if: github.event.pull_request.draft == false
    name: Validate Conventional Commits PR
    runs-on: ubuntu-latest
    steps:
      - uses: crazy-max/ghaction-dump-context@v1
      - uses: catalystsquad/action-validate-conventional-commits-pr@v1
  ensure-compile:
    if: github.event.pull_request.draft == false
    name: Ensure project compiles
    runs-on: ubuntu-latest
    steps:
      - uses: crazy-max/ghaction-dump-context@v1
      - name: Auth Github
        run: |
          {% raw %}git config --global url."https://${{ secrets.AUTOMATION_PAT }}@github.com".insteadOf "https://github.com"{% endraw %}
      - name: Compile
        uses: catalystsquad/action-compile-go@v1
        with: 
          go-version: ~1.21
{%- if enable_pull_request_test %}
  test:
    needs:
      - ensure-compile
    name: Test
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    env:
      GIT_PAT: {% raw %}${{ secrets.AUTOMATION_PAT }}{% endraw %}
    steps:
      - name: Dump Context
        uses: crazy-max/ghaction-dump-context@v1
      - name: Run Tests
        uses: catalystsquad/action-kind-test@v1
        with:
          token: {% raw %}${{ secrets.AUTOMATION_PAT }}{% endraw %}
          wait-for-ports: 8080
          add-private-helm-repo: "true"
          helm-repo-username: {% raw %}${{ secrets.AUTOMATION_PAT }}{% endraw %}
          helm-repo-password: {% raw %}${{ secrets.AUTOMATION_PAT }}{% endraw %}
{% endif %}
