apiVersion: skaffold/v2beta25
kind: Config
build:
  artifacts:
    - image: api
      custom:
        buildCommand: |
          DOCKER_BUILDKIT=1 docker build --tag $IMAGE --build-arg BUILDKIT_INLINE_CACHE=1{% if github_private_access %} --secret id=GIT_PAT{% endif %} "$BUILD_CONTEXT"
        dependencies:
          dockerfile:
            path: Dockerfile
deploy:
  helm:
    hooks:
      before:
        - host:
            command:
              - sh
              - -c
              - helm repo add bitnami https://charts.bitnami.com/bitnami && helm repo add tnlcommunity https://raw.githubusercontent.com/tnlcommunity/charts/main && helm repo add catalystsquad https://raw.githubusercontent.com/catalystsquad/charts/main
    releases:
      - name: api
        namespace: api
        createNamespace: true
        chartPath: ./helm_chart
        # remoteChart: {{ organization }}/{{ short_project_name }}
        artifactOverrides:
          image: api
        imageStrategy:
          helm: {}
        valuesFiles:
          - skaffold-values.yaml
        recreatePods: true
        wait: true
portForward:
  # pf for grpc server
  - resourceType: service
    resourceName: api-{{ short_project_name }}
    namespace: api
    port: 6000
    localPort: 6000
  # pf for grpc gateway
  - resourceType: service
    resourceName: api-{{ short_project_name }}
    namespace: api
    port: 6001
    localPort: 6001
{% if db_choice == 'Postgres' %}
  # pf for postgres
  - resourceType: service
    resourceName: api-postgresql
    namespace: api
    port: 5432
    localPort: 5432
{% elif db_choice == 'Cockroach' %}
  # pf for cockroach
  - resourceType: service
    resourceName: api-cockroach
    namespace: api
    port: 26257
    localPort: 26257
{% endif %}
profiles:
  - name: actions
    activation:
      - env: SKAFFOLD_ACTIONS=true
    build:
      artifacts:
        - image: api
          custom:
            buildCommand: |
              docker buildx build --tag $IMAGE --load --cache-from type=gha,mode=max --cache-to type=gha,mode=max --build-arg BUILDKIT_INLINE_CACHE=1{% if github_private_access %} --secret id=GIT_PAT{% endif %} "$BUILD_CONTEXT"
            dependencies:
              dockerfile:
                path: Dockerfile
  - name: test
    patches:
      - op: replace
        path: /deploy/helm/releases/0/namespace
        value: test
