module {{ full_project_name }}/protos

go 1.21

require (
	github.com/catalystsquad/app-utils-go v1.0.7
	github.com/dariubs/gorm-jsonb v0.1.5
	github.com/gojek/heimdall/v7 v7.0.2
	github.com/google/uuid v1.3.0
	github.com/grpc-ecosystem/grpc-gateway/v2 v2.15.2
	github.com/joomcode/errorx v1.1.1
	github.com/lib/pq v1.10.6
	github.com/samber/lo v1.38.1
	github.com/sirupsen/logrus v1.9.0
	github.com/valyala/fasthttp v1.48.0
	google.golang.org/genproto/googleapis/api v0.0.0-20230526203410-71b5a4ffd15e
	google.golang.org/grpc v1.55.0
	google.golang.org/protobuf v1.30.0
	gorm.io/gorm v1.25.1
)
