{% raw %}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "catalyst-go-app.fullname" . }}
  labels:
    {{- include "catalyst-go-app.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "catalyst-go-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "catalyst-go-app.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "catalyst-go-app.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          args:
            - serve
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: PORT
              value: {{ .Values.service.port | quote }}
            - name: GATEWAY_PORT
              value: {{ .Values.gateway.port | quote }}
            - name: SERVE_HTTP
              value: {{ .Values.gateway.enabled | quote }}
            - name: SENTRY_ENABLED
              value: {{ .Values.sentry.enabled | quote }}
            - name: SENTRY_CLIENT_OPTIONS
              value: {{ .Values.sentry.clientOptions | toJson | quote }}
            - name: SENTRY_DSN
              value: {{ .Values.sentry.dsn }}
            - name: SENTRY_DEBUG
              value: {{ .Values.sentry.debug | quote }}
            - name: SENTRY_ENVIRONMENT
              value: {{ .Values.sentry.environment }}
            - name: SENTRY_SAMPLE_RATE
              value: {{ .Values.sentry.sampleRate | quote }}
            - name: SENTRY_TRACES_SAMPLE_RATE
              value: {{ .Values.sentry.tracesSampleRate | quote }}
            - name: ADDITIONAL_SENTRY_TAGS
              value: {{ .Values.sentry.additionalTags | toJson | quote }}
            - name: PROMETHEUS_ENABLED
              value: {{ .Values.prometheus.enabled | quote }}
            - name: PROMETHEUS_PATH
              value: {{ .Values.prometheus.path }}
            - name: PROMETHEUS_PORT
              value: {{ .Values.prometheus.port | quote }}
            - name: PROMETHEUS_LATENCY_HISTOGRAMS_ENABLED
              value: {{ .Values.prometheus.latencyHistogramsEnabled | quote }}
{% endraw %}
            {% if db_choice == 'Postgres' %}
            - name: POSTGRES_URI
              valueFrom:
                secretKeyRef:
{% raw %}
                  name: {{ include "catalyst-go-app.secretName" . }}
{% endraw %}
                  key: POSTGRES_URI
            {% endif %}
            {% if db_choice == 'Cockroach' %}
            - name: COCKROACH_URI
              valueFrom:
                secretKeyRef:
{% raw %}
                  name: {{ include "catalyst-go-app.secretName" . }}
{% endraw %}
                  key: COCKROACH_URI
            {% endif %}
{% raw %}
          ports:
            - name: grpc
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            - name: gateway
              containerPort: {{ .Values.gateway.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthy
              port: gateway
          readinessProbe:
            httpGet:
              path: /ready
              port: gateway
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{% endraw %}
