{% raw %}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "catalyst-go-app.fullname" . }}-migrate-{{ .Chart.AppVersion }}
  labels:
    {{- include "catalyst-go-app.labels" . | nindent 4 }}
spec:
  {{ if .Values.migrations.ttlSecondsAfterFinished -}}
  ttlSecondsAfterFinished: {{ .Values.migrations.ttlSecondsAfterFinished }}
  {{ end -}}
  template:
    spec:
      containers:
        - name: {{ .Chart.Name }}
          args:
            - migrate
          securityContext:
                  {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
{% endraw %}
            {% if db_choice == 'Postgres' %}
            - name: POSTGRES_URI
              valueFrom:
                secretKeyRef:
{% raw %}
                  name: {{ include "catalyst-go-app.secretName" . }}
{% endraw %}
                  key: POSTGRES_URI
            {% endif %}
            {% if db_choice == 'Cockroach' %}
            - name: COCKROACH_URI
              valueFrom:
                secretKeyRef:
{% raw %}
                  name: {{ include "catalyst-go-app.secretName" . }}
{% endraw %}
                  key: COCKROACH_URI
            {% endif %}
{% raw %}
          resources:
            {{- toYaml .Values.migrations.resources | nindent 12 }}
      restartPolicy: {{ .Values.migrations.restartPolicy }}
  backoffLimit: {{ .Values.migrations.backoffLimit }}
{% endraw %}