package postgres

import (
	"context"
	{{ short_project_name }}v1 "{{ full_project_name }}/protos/gen/go/{{ short_project_name }}/v1"
	"github.com/joomcode/errorx"
)

func (p PostgresStorage) UpsertHellos(ctx context.Context, request *{{ short_project_name }}v1.UpsertHellosRequest) ([]*{{ short_project_name }}v1.Hello, error) {
	helloProtos := {{ short_project_name }}v1.HelloProtos(request.Hellos)
	err := helloProtos.Upsert(ctx, db, nil, nil, true)
	return helloProtos, err
}

func (p PostgresStorage) DeleteHellos(ctx context.Context, ids []string) error {
	return {{ short_project_name }}v1.DeleteHelloGormModels(ctx, db, ids)
}

func (p PostgresStorage) ListHellos(ctx context.Context, request *{{ short_project_name }}v1.ListRequest) ([]*{{ short_project_name }}v1.Hello, error) {
	protos := {{ short_project_name }}v1.HelloProtos{}
	var orderBy string
	if orderBy = request.OrderBy; orderBy == "" {
		orderBy = "created_at"
	}
	err := protos.List(ctx, db, int(request.Limit), int(request.Offset), orderBy)
	return protos, err
}

func (p PostgresStorage) GetHellos(ctx context.Context, request *{{ short_project_name }}v1.GetRequest) ([]*{{ short_project_name }}v1.Hello, error) {
	protos := {{ short_project_name }}v1.HelloProtos{}
	err := protos.GetByIds(ctx, db, request.Ids)
	return protos, err
}

func (p PostgresStorage) GetHello(ctx context.Context, id string) (*{{ short_project_name }}v1.Hello, error) {
	var err error
	protos := {{ short_project_name }}v1.HelloProtos{}
	if err = protos.GetByIds(ctx, db, []string{id}); err != nil {
		return nil, err
	}
	if len(protos) == 0 {
		return nil, errorx.IllegalArgument.New("hello with id %s not found", id)
	}
	return protos[0], nil
}
